.z {
    display: block;
    overflow: hidden;
}

body {
    background: url(/img/Konachan.jpg) no-repeat center 10px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none
}

a {
    color: #09C;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 5px;
}


#textbox {
    position: absolute;
    height: 50px;
    font-size: 11px;
    color: #e3aabe;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 5px 10px 5px;
    left: 0px;
    right: 0px;
    top: 50%;
    margin-top: -25px;
    text-shadow: 0 0 1px #ffffff;
}

#textbox #txt {
    width: 620px;
    text-align: center;
    margin: 10px auto;
    height: 14px;
}

#textbox #fos {
    height: 14px;
    display: none;
    overflow: hidden;
    font-weight: normal;
    font-family: "Lucida Console", Monaco, monospace;
    color: #b7b7b7;
    font-size: 10px;
    margin: 5px auto 0 auto;
    text-align: right;
    width: 605px;
}

.mucplay {
    position: absolute;
    bottom: 25px;
    left: 40px;
    border-radius: 5px;
    z-index: 11;
}

ul, ul li {
    padding: 0;
    margin: 0;
}

